@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
	background-color: #040d21/*#0c111b*/;
}

::-webkit-scrollbar{
  width: 7px;
  background-color: #111;
}
::-webkit-scrollbar-thumb{
  background-color: #1F51FF;
  border-radius: 10px;
}


/*nav bar starts here*/

.search-box{
  width: fit-content;
  height: fit-content;
  position: absolute;
  right:5%;
  top :5%;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #1F51FF;
  padding-right: 40px;
  color:#fff;
}

.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*nav bar ends here*/



/*banner starts here*/
#banner{
  color: white;
  object-fit: contain;
  height: 700px;
  background-position: center center;
  background-size: cover;
}
#banner__contents{
  margin-left: 70px;
  padding-top: 400px;
  height: 190px;
}
#banner__title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
font-family:Barlow Condensed;
}
#banner__description{
  width: 45rem;
  line-height: 1.5;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
font-family:rubik;

}
#banner__button{
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: .2vw;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: .5rem;
  background-color: rgba(51,51,51,.5);
  padding-bottom: .5rem;
}
#banner__button:hover{
  color: black;
  background-color: #e6e6e6;
  transition: all .3s;
}
#banner__fadeBottom{
	
  height: 19rem;
  background:linear-gradient(to bottom, rgba(4,8,15,0), #040d21);
  /*background: linear-gradient(180deg,transparent,rgba(37,37,37, .61),#111)*/;
}
/*banner ends here*/



/*video card starts here*/
.video-card-container{
	position:relative;
	width:92%;
	margin:auto;
	height:10vw;
	display:flex;
	margin-bottom:20px;
	margin-top:2.9%;
	justify-content:space-between;
}

.video-card
{
	position:relative;
	min-width:calc(100%/5 - 10px);
	width:calc(100%/5 - 10px);
	height:100%;
	border-radius:5px;
	overflow:hidden;
	background:#030b17;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.video-card-image{
	width:100%;
	height:100%;
	object-fit:cover;
}

.card-video{
	width:100%;
	height:100%;
	object-fit:cover;
	position:absolute;
}

.video-card:hover .video-card-image{
	display:none;
}
/*video card ends here*/


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}






/*cards starts from here*/

.title{
		font-family:roboto, 'sans-serif';
		color:white;
		opacity:0.9;
		padding-left:4%;
		text-transform:capitalize;
		font-size:25px;
		font-weight:900;
		margin-top:2%;
}

.movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#main::-webkit-scrollbar{
	display:none;
}
.movie{
	
	min-width:200px;
	width:150px;  
	height:300px;
	margin:1rem;
	margin-right:10px;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	transition:0.5s;
}


.movie img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.movie:hover{
	transform:scale(1.1);
}

.movie:hover .card-body{
	opacity:1;
}

.card-body{
	opacity:0;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background:linear-gradient(to top, rgba(4,8,15,0), #192133 90%);
	padding:10px;
	transition:0.5s;
}

.name{
	color:white;
	font-size:19px;
	font-weight:500;
	font-family:Barlow Condensed;
	text-transform:capitalize;
	margin-top:;
}

.des{
	font-family:Rubik;
	color:white;
	opacity:0.8;
	margin:5px 0;
	font-weight:300;
	font-size:13px;
	overflow: hidden;
}

/*cards ends here*/

/*trending*/
.trending-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#trending_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#trending_main::-webkit-scrollbar{
	display:none;
}
.trending_movie{
	
	min-width:200px;
	width:150px;  
	height:300px;
	margin:1rem;
	margin-right:10px;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	transition:0.5s;
}


.trending_movie img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.trending_movie:hover{
	transform:scale(1.1);
}

.trending_movie:hover .card-body{
	opacity:1;
}

/*netflix*/
.netflix-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#netflix_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#netflix_main::-webkit-scrollbar{
	display:none;
}
.netflix_movie{
	
	min-width:200px;
	width:150px;  
	height:300px;
	margin:1rem;
	margin-right:10px;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	transition:0.5s;
}


.netflix_movie img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.netflix_movie:hover{
	transform:scale(1.1);
}

.netflix_movie:hover .card-body{
	opacity:1;
}


/*action*/
.action-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#action_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#action_main::-webkit-scrollbar{
	display:none;
}

/*comedy*/
.comedy-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#comedy_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#comedy_main::-webkit-scrollbar{
	display:none;
}

/*horror*/
.horror-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#horror_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#horror_main::-webkit-scrollbar{
	display:none;
}


/*romance*/
.romance-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#romance_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#romance_main::-webkit-scrollbar{
	display:none;
}


/*documentary*/
.document-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#document_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#document_main::-webkit-scrollbar{
	display:none;
}



/*science fiction*/
.science-movies-list{
 width:100%;
height:320px;
position:relative;
margin:10px 0 20px;
}

#science_main{
	position:relative;
	width:92%;
	padding-left:10px;
	height:auto;
	display:flex;
	margin:0 auto;
	overflow-x:auto;
	overflow-y:visible;
	scroll-behavior:smooth;
}
#science_main::-webkit-scrollbar{
	display:none;
}



.embed.hide{
	display:none;
	color:white;
}

.embed.show{
	display:inline-block;
	color:white;
}

.no-results{
	color:white;
	font-family:Barlow Condensed;
	font-size:50px;
}

.arrow{
	position:absolute;
}

.arrow.left-arrow{
	top:50%;
	left : 0%;
	transform:translateY(-50%);
}

.arrow.right-arrow{
	right: 0%;
	top:50%;
	transform:translateY(-50%);
}

.dots{
	margin-top:30px;
}

.dots .dot{
	padding:10px 10px 10px 10px;
	border-radius:50%;
	border:2px solid blue;
	color:white;
	font-size:20px;
	font-weight:600;
	margin:5px;
}

.dots .dot.active{
	border-color:orange;
}


.knowmore{
	text-decoration:none;
	background-color:#fff44f;
	padding:3px;
	border:none;
	cursor:pointer;
	border-radius:5px;
	font-family:Barlow Condensed;
	font-weight:300;
}